@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Host Grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  min-height: 100vh;
  color: white;
  background: linear-gradient(#0b004e, #1d152f, #002834);
}
